<ng-content select="[toolbar]"></ng-content>
<mat-table class="table" [dataSource]="dataSource">
    <ng-content select="[table-content]"></ng-content>
    <!-- <ng-container matColumnDef="hola1">
        <mat-header-cell *matHeaderCellDef>Fecha de Carga</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.hola1 }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="hola2">
        <mat-header-cell *matHeaderCellDef>Fecha de Carga</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.hola2}} </mat-cell>
    </ng-container> -->
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>