/* You can add global styles to this file, and also import other style files */
* {
    // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.full {
    width: 100%;
    height: 100%;
}

.div_scroll {
    overflow: auto !important;
}

html,body {
    height: 100vh !important;
    width: 100vw !important;
    font-family: Poppins, Helvetica, "sans-serif";
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
}

.mat-table {
    background: transparent;
}

.mat-header-row  {
    border-radius: 20px 20px 0 0;
    background-color: #f2f2f2;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 15px;
    border-bottom: 1px solid #ebedf3;
}

.mat-header-cell {
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    font-weight: 600;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ebedf3;
    padding: 0px 15px;
}

// .input-text{
//     border-radius: 10px;
// }

.form-group{
    margin-bottom: 1.5rem;
}

#search{
    border: 1px solid gray;
    border-radius: 10px;
}

.card .card-header{
    background-color: #99999961;
    border-radius: 25px 25px 0 0 !important;
}

.card {
    border-radius: 25px !important;
}

.card .card-header .card-label small{
    padding: 5px;
    font-size: small;
    border: transparent;
    border-radius: 10px;
    background-color: rgba(10,150,10, 0.5)
}

@media(max-width: 500px){

    .card .card-label small{
        margin-top: 5px;
        float: right;
        text-align: justify;
    }
}

body.swal2-height-auto{
    height: 100% !important;
}




/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
